.button-1 {
    display: none;
    background-color: #543991;
    border-radius: 8px;
    border-style: none;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin-top: 10px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1.show {
    background-color: #BA1B70 !important;
    color: #FFF !important;
    display: block !important;
}

.button-1:hover {
    background-color: #614B91 !important;
    color: #FFF !important;
}

.button-1.show:hover {
    background-color: #D01D75 !important;
    color: #FFF !important;
}

.meterValue {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;

    &--send {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &--button {
        display: flex;
        flex-direction: column
    }
}

.button-send {
    margin: 5px 10px;
    max-height: 30px;
    padding: 5px 10px !important;
    border-radius: 48px !important;
    color: #543991 !important;
    font-size: 14px !important;
}


/* стили для label */
.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

/* стили для input */
.text-field__input, select {
    display: block;
    height: calc(2rem + 2px);
    padding-left: 5px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

